JDBC {
    my.auth.JdbcLoginModule required
    userTable="users"
    userColumn="username"
    passwordColumn="password"
    dbDriver="org.mariadb.jdbc.Driver"
    dbUrl="jdbc:mariadb://192.168.140.70:3306/shibboleth"
    dbUser="root"
    dbPassword="openstack"
    userQuery="SELECT password FROM users WHERE username = ?";
};