[ req ]
default_bits       = 2048
default_keyfile    = key.pem
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = req_ext
prompt            = no

[ req_distinguished_name ]
C  = KR
ST = Seoul
L  = JungGu
O  = Innogrid
OU = Innogrid.com
CN = shibboleth-idp

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = shibboleth-idp
DNS.2 = localhost